<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091427314283-c1ok9un33jdbatn6898u949cl307tgj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091427314283-c1ok9un33jdbatn6898u949cl307tgj7</string>
	<key>API_KEY</key>
	<string>AIzaSyCgrpW9fgD7A-1tWZKndGtoawUR3pkGev8</string>
	<key>GCM_SENDER_ID</key>
	<string>1091427314283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DonationApp</string>
	<key>PROJECT_ID</key>
	<string>donation-application-bb8ea</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-application-bb8ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091427314283:ios:eb16d84afb756977789f2e</string>
</dict>
</plist>